.container {
    display:flex;
}

.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper) {
    background:transparent;
    background:transparent;
    border-top:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    border-left:1px solid #d9d9d9;
    border-right:none;
    height:28px;
    line-height:28px;
    padding:0 10px;
    color:rgba(0, 0, 0, 0.65);
}
.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper):hover {
    background-color:#d9d9d9;
    color:#fff;
}
.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper):first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper):last-child {
    /* border-left:none !important; */
    border-right:1px solid #d9d9d9;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper)::before {
    display:none;
}
.container .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper):global(.ant-radio-button-wrapper-checked) {
    color: #fff !important;
    background:#1545ff;
}
.container .custom-date-picker:global(.ant-picker) {
    background:transparent;
    border:1px solid #1545ff;
    height:28px;
}
.container .custom-date-picker:global(.ant-picker) :global(.anticon){
    color:rgba(0, 0, 0, 0.65);
}
.container .custom-date-picker:global(.ant-picker) :global(.ant-picker-input) > input {
    color:rgba(0, 0, 0, 0.65);
}
/* 日期组件深色模式 */
.container.dark .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper) {
    border-top:1px solid #7a79b3;
    border-bottom:1px solid #7a79b3;
    border-left:1px solid #7a79b3;
    border-right:none;
    color:#7a79b3;
}
.container.dark .custom-radio:global(.ant-radio-group) :global(.ant-radio-button-wrapper):last-child {
    border-right:1px solid #7a79b3;
}
.container.dark .custom-date-picker:global(.ant-picker) {
    border:1px solid #7a79b3;
}
.container.dark .custom-date-picker:global(.ant-picker) :global(.anticon){
    color:#7a79b3;
}
.container.dark .custom-date-picker:global(.ant-picker) :global(.ant-picker-input) > input {
    color:#7a79b3;
}
/* 
    日期控件左右切换button 样式
*/
.date-picker-button-left, .date-picker-button-right {
    background-color:#1545ff;
    color:#fff;
    width:2rem;
    text-align: center;
    cursor:pointer;
    height:28px;
    line-height:28px;
}

.date-picker-button-left {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
   
}

.date-picker-button-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}